.carousel__slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 140px;
  min-height: 720px;
  width: 100vw;
  flex: 1 0 auto;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.slide__life {
  background-image: url('../../assets/Carousel_life.jpg');

  h1 {
    max-width: 400px;
    font-size: 7rem;
    left: 50px;
  }
}

.slide__know {
  background-image: url('../../assets/Carousel_know.jpg');

  h1 {
    font-size: 7rem;
    width: 400px;
  }
}

.slide__advisors {
  background-image: url('../../assets/Carousel_advisors.jpg');
  background-position: 30% 140px;

  h1 {
    left: 75%;
    color: white;
    font-size: 6rem;
    width: 50%;
  }
}

.slide__consultation {
  background-image: url('../../assets/Carousel_consult.jpg');

  h1 {
    left: 45%;
    font-size: 6rem;
    top: 22vh;
  }
}

.slide__services {
  background-image: url('../../assets/Carousel_services.jpg');

  h1 {
    color: white;
    text-align: center;
    margin: 30px auto;
    left: 0;
    top: 140px;
    font-size: 7rem;
  }
}

.carousel__slide:first-of-type {
  opacity: 0;
}

.carousel__slide:last-of-type {
  opacity: 0;
}

h1 {
  position: relative;
  top: 20rem;
  margin: 0;
  width: 700px;
  z-index: 1;
}

.carousel-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  min-height: 650px;
}

.carousel-controls {
  position: absolute;
  z-index: 8;
  top: 50%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

$buttonSize: 7rem;

.carousel__button {
  border-radius: 50%;
  border: none;
  width: 150px;
  height: 150px;
  background: none;
  position: absolute;
  top: 45%;
  z-index: 8;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  &::before {
    border-style: solid;
    border-width: 2rem 2rem 0 0;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.7);
    content: '';
    display: inline-block;
    left: 0.15em;
    position: relative;
    top: 1rem;
    transform: rotate(-45deg);
    vertical-align: top;
    height: $buttonSize;
    width: $buttonSize;
  }
}



.button__left {
  left: 3vw;

  &::before {
    left: 1.5rem;
    top: 0;
    transform: rotate(-135deg);
  }
}

.button__right {
  right: 3vw;

  &::before {
    left: -1.5rem;
    top: 0;
    transform: rotate(45deg);
  }
}