@media only screen and (max-device-width : 1200px) {

  .slide__life h1 {
    font-size: 7rem;
    width: 40%;
    left: 5vw;
  }

  .slide__consultation h1 {
    font-size: 5rem;
  }

  .slide__know {

    h1 {
      width: 50%;
      font-size: 6rem;
      left: 0px;
    }
  }

  .slide__advisors {

    h1 {
      font-size: 5rem;
      width: 50%;
    }
  }
}

@media only screen and (max-device-width : 1024px) {

  .slide__life {
    background-position: 55% 140px;
    h1 {
      font-size: 5rem;
      width: 50%;
      top: 25vh;
    }
  }

  .slide__advisors {
    background-position: 30% 140px;
    h1 {
      font-size: 4rem;
      left: 75%;
      top: 23vh;
      max-width: 40%;
    }
  }

  .slide__know {
    background-position: 55% 140px;
    h1 {
      width: 50%;
      font-size: 5rem;
      left: 0px;
    }
  }

  .slide__consultation {

    h1 {
      max-width: 60%;
      font-size: 4rem;
      left: 60%;
      top: 25vh;
    }
  }

  .slide__services h1{
    margin-top: 10px;
    left: -40px;
    font-size: 6rem;
  }

  .links {
    li {
      width: 30%;
    }

    h3 {
      min-height: 53px;
      padding: 50%;
    }
  }

  .links__img {
    background-position: -40px 0;
  }

  .carousel-controls {
    width: 100vw;
    padding: 0 60px;
  }
}

@media only screen and (max-device-width : 768px) {
  .hero, .carousel, .carousel__slide {
    min-height: 150px;
    height: 50vh;
  }

  .carousel__slide {
    background-position: center;
  }

  .slide__life h1 {
    font-size: 4rem;
    width: 50%;
    top: 1.5rem;
    left: 0;
  }

  .slide__know {

    h1 {
      top: 20px;
      font-size: 3rem;
    }
  }

  .slide__advisors {
    background-position: center;
    h1 {
      left: 42vw;
      width: 40%;
      top: 30px;
      font-size: 3.75rem;
    }
}

  .slide__consultation {
    background-position: top;

    h1 {
      width: 80%;
      font-size: 3.25rem;
      left: 40%;
      top: 20px;
    }
  }

  .slide__services h1 {
    margin-top: 30px;
    top: 0;
    left: 0;
    width: 70%;
    font-size: 4rem;
  }

  .carousel-controls {
    padding: 0;
    transform: translateY(-50%);
  }

  .carousel__button {
    width: 100px;
    height: 100px;

    &::before {
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border-width: 1rem 1rem 0 0;
    }
  }

  .button__left::before {
    left: 0;
    top: 0;
    transform: rotate(-135deg);
  }

  .button__right::before {
    left: -0.5rem;
    top: 0;
    transform: rotate(45deg);
  }

  .links {
    flex-direction: column;

    li {
      width: 100%;
      margin: 20px 0;
    }

    p {
      font-size: 2rem;
    }
  }

  .links__img {
    background-position: center 25%;
  }

  section ul .links__container h3 {
    padding: 12px 10%;
    font-size: 2rem;
  }
}

@media only screen and (max-device-width : 480px) {
  
  .slide__life {
    background-position: top;
    h1 {
      font-size: 3rem;
    }
  }

  .slide__know {
    background-position: center;

    h1 {
      left: -10px;
      width: 50%;
      font-size: 2.5rem;
    }
  }

  .slide__advisors {
    background-position: 30% 0;

    h1 {
      left: 17vw;
      top: 10px;
      font-size: 2.25rem;
      width: 100%;
      max-width: 60%;
    }
  }

  .slide__services h1 {
    width: 100%;
  }

  .slide__consultation h1 {
    width: 60%;
    max-width: 70%;
    font-size: 2.25rem;
    left: 40%;
    top: 15px;
  }


  .links {
    p {
      font-size: 1.6rem;
    }
  }

}