.hero {
	margin: 10px 0;
	background-image: url('../../assets/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 900px;
}

.links > div {
	position: relative;
	margin-bottom: 15px;
}

.links__overlay {
	background: rgba(0,0,0,0.5);
	text-transform: uppercase;
	text-align: center;
	padding-top: 25%;
	font-weight: 700;
	font-size: 2.5rem;
  color: $fontColour;
  margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.contact {
	margin-top: 20px;
	padding-bottom: 20px;

	p {
		color: rgba(0,0,0,0.67);
		font-weight: 700;
		font-size: 1.7rem;
		text-align: center;
	}

	a {
		color: $primaryColour;
	}

	&:before {
		content: "";
		display: block;
		width: 50%;
		height: 1px;
		background-color: $primaryColour;
		position: relative;
		top: -50%;
		margin: 20px auto;
	}
}