@media only screen and (max-device-width : 1024px) {
  section {
    ul {
      li p {        
        font-size: 2rem;
      }
    }

    .contact__address {
      p {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-device-width : 768px) {
  section {

    ul {
      li p {
        font-size: 1.7rem;
      }
    }

    .contact__address {
      p {
        font-size: 1.7rem;
        text-align: left;
      }
    }
  }

  footer p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-device-width : 480px) {
  section {
    ul {
      width: 100%;

      li p {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }

    .contact__address {
      width: 100%;
      p {
        font-size: 1.7rem;
        width: 100%;
      }
    }
  }
}