section, footer {
	color: white;
	text-transform: uppercase;
}

section	{
	background-color: $footerColour;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 0;

	h2 {
		color: white;
		width: 100%;
		padding: 15px;
		border-bottom: 2px solid white;
	}

	h2, p {
		font-size: 2.2rem;
		font-weight: normal;
	}

	a {
		color: $bgColour2;

		&:hover {
			color: $bgColour;
		}
	}

	ul, .contact__address {
		display: inline-block;
		width: 50%;
	}

	.contact__address {
		p {
			text-align: right;
			margin: 0;
			margin-right: 10px;
			margin-top: 8px;
			line-height: 2rem;
		}
	}

	li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-left: 10px;

		p {
			margin-left: 10px;
			line-height: 1rem;
		}
	}
}

footer {
	border-top: 1px solid black;
	padding: 20px 0;
	background-color: $footerColour2;

	p {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

@import 'responsive';