
@media only screen and (max-device-width : 768px) {

  .hero {
    min-height: 50vh;
    background-position: center 0;
  }

  .consultation .hero {
    background-position: 0 0;
  }

  .map {
    max-width: 75%;
    height: 400px;
  }
}