.contact {
	background-color: $bgColour2;
	padding-bottom: 30px;
	width: 100vw;
}

.hero {
	background-image: url("../../assets/1920x650_contact.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 650px;
	padding: 0;
	margin: 0;
}

.map {
	margin: 30px auto;
	max-width: 50vw;
	border: 4px solid $fontColour;
	height: 608px;
	width: 808px;
	position: relative;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

p {
	margin: 0;
}

h2 {
	margin-bottom: 20px;
}

.address {
	margin: 20px 0;
}

@import "responsive";