html {
  font-size: $fontSize;
}

body {
  font-family: $contentFont;
}

h1, h2, h3 {
  font-family: $headingFont;
  color: black;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  color: $primaryColour;
  font-size: 8.8rem;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 900;
  color: $fontColour;
  padding-top: 30px;
}

p {
  font-size: 1.6rem;
  margin: 2rem auto;
  line-height: 2.8rem;
}

header {
  width: 100vw;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
	background: none;
}

.wrapper {
  width: calc(100vw * 0.75);
  max-width: 1024px;
  margin: 0 auto;
}

@media only screen and (max-device-width : 1200px) {
  .wrapper {
    max-width: 768px;
  }
}

@media only screen and (max-device-width : 1024px) {
  .wrapper {
    max-width: 480px;
  }
}

@media only screen and (max-device-width : 768px) {
  max-width: 320px;
}

@media only screen and (max-device-width : 480px) {
  max-width: 280px;
}