@import url('https://fonts.googleapis.com/css?family=Montserrat');

$primaryColour: #414099;
$secondaryColour: #6D6E71;
$bgColour: #272E4B;
$footerColour: #636363;
$footerColour2: #434343;
$fontColour: #15255B;
$textColour: #343434;

$headingFont: 'Montserrat', sans-serif;
$contentFont: $headingFont;
// $contentFont: 'Lato', sans-serif;

$fontSize: 10px;



