// nav {
// 	min-width: 10%;
// }

// .header__nav {
// 	position: fixed;
// 	top: -100%;
// 	left: 0;
// 	font-size: 2rem;
// 	background: white;
// 	width: 100vw;
// 	text-align: center;
// 	padding: 5px;
// 	z-index: 2;
// 	transition: all 0.5s ease-in-out;

// 	li {
// 		border-bottom: 1px solid $primaryColour;
// 		margin: 0 15%;
// 		display: block;
// 		padding: 10px;

// 		&:last-child {
// 			border-bottom: 0;
// 		}

// 		a {
// 			color: $primaryColour;
// 		}
// 	}
// }