header {
  border-bottom: 5px solid $primaryColour;
  min-height: 140px;
  position: fixed;
}

.logo {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  min-width: 70%;
  background-color: $bgColour2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;

  li {
    margin-top: auto;
    min-width: 25%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgColour2;

    a {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $textColour;
    }
  }
}

.inactive {
  background-color: $bgColour2;
  transition: background 0.4s ease-in-out;
}

.active {
  background-color: $primaryColour;  
  transition: background 0.4s ease-in-out;

  a {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    line-height: 7rem;
  }
}