header {
  border-bottom: 5px solid $primaryColour;
  min-height: 140px;
}

.logo {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  min-width: 70%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 100%;

  li {
    margin-top: auto;
    min-width: 25%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $primaryColour;

      a {
        display: inline-block;
        vertical-align: middle;
        color: #FFFFFF;
        width: 100%;
        height: 100%;
        line-height: 7rem;
      }
    }

    a {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $textColour;
    }
  }
}

// nav {
// 	min-width: 10%;
// }

// .header__nav {
// 	position: fixed;
// 	top: -100%;
// 	left: 0;
// 	font-size: 2rem;
// 	background: white;
// 	width: 100vw;
// 	text-align: center;
// 	padding: 5px;
// 	z-index: 2;
// 	transition: all 0.5s ease-in-out;

// 	li {
// 		border-bottom: 1px solid $primaryColour;
// 		margin: 0 15%;
// 		display: block;
// 		padding: 10px;

// 		&:last-child {
// 			border-bottom: 0;
// 		}

// 		a {
// 			color: $primaryColour;
// 		}
// 	}
// }