@media only screen and (max-device-width : 1024px) {
  ul li a{
    font-size: 1.6rem;
  }

  .logo {
    max-width: 50%;
  }
}

@media only screen and (max-device-width : 768px) {
  header {
    position: static;
    padding: 10px 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5px;
    right: 0;
    z-index: 10;
    cursor: pointer;
    transform: translateX(-50%);
    -webkit-tap-highlight-color: rgba(255, 255, 255,0);

    span {
      background: $primaryColour;
      height: 7px;
      width: 30px;
      margin-top: 5px;
      transition: all 0.5s ease-in-out;

      &:first-child {
        background: none;
        text-align: center;
        border: none;
      }
    }
  }

  #hamburger:checked + .hamburger .hamburger__top {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #hamburger:checked + .hamburger .hamburger__bottom {
    opacity: 0;
    transform: rotate(45deg);
  }
  #hamburger:checked + .hamburger .hamburger__middle {
    transform: rotate(45deg);
    margin-top: -7px;
  }

  #hamburger:checked + .hamburger + ul {
    top: 0;
    transform: scale(1);
  }

  .navbar, ul {
    flex-direction: column;
    align-items: center;
  }

  ul {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    justify-content: space-between;
    max-height: 40vh;
    // height: 200px;
    transition: all 0.5s ease-in-out;
    z-index: 9;
    box-shadow: 2px 2px 5px black;

    li {
      padding: 10px 0;
      width: 100%;
      margin: 0;

      a {
        font-size: 2rem;
      }
    }
  }

  .logo {
    max-width: 30%;
    min-width: 160px;
    padding: 0;
  }


  .active {
    background-color: $secondaryColour;
    a {
      line-height: normal;
    }
  }
}