@import "nav";

header {
	background-color: $bgColour2;
	z-index: 10;
}

.logo, .hero {
	background-size: contain;
	background-repeat: no-repeat;
	
	img {
		visibility: hidden;
	}
}

.logo {
	background-image: url("../../assets/chronicle-financial-300dpi.png");
	background-position: center top;
	max-width: 90%;
}

#hamburger, .hamburger {
	display: none;
}

@import "responsive";